<div class="password-container">
  <input
    type="password"
    placeholder="Enter your password"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
  />

  <div class="strength-indicator">
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': sectionColors[0] }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': sectionColors[1] }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': sectionColors[2] }"
    ></div>
  </div>
</div>
